@page "/"

<PageTitle>Crypto App</PageTitle>

<section class="container">

    <DashboardCoinComponent />

    <br />
    <section class="d-flex justify-content-center mt-5">
        <img src="https://www.pragimtech.com/wp-content/uploads/2020/03/blazor-tutorial-for-beginners.png" height="300"/>
    </section>

</section>